* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div:after,
div:before {
  content: '';
  display: block;
}
body {
  min-height: 100%;
}
.logo-link {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.logo-img {
  width: 45px;
  height: auto;
}
.logo-slang {
  margin-left: 10px;
  color: #000;
  font-size: 16px;
}
.dropdown-toggle,
.search-button {
  width: 30px;
  height: 30px;
  border: none;
}
.dropdown-toggle {
  background: url("../photo/user.svg");
}
.dropdown-toggle span {
  display: none;
}
.dropdown-menu {
  display: none;
}
.header {
  position: relative;
  background: #f1efef;
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.header.active::before {
  width: 100%;
  content: '';
  display: block;
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
}
.header__form {
  display: flex;
}
.search-button {
  background: url("../photo/search.svg");
  margin-right: 15px;
}
.search-input {
  display: none;
}
.burger-open {
  width: 30px;
  height: 3px;
  background: #000;
  display: block;
}
.burger-open::after,
.burger-open::before {
  content: '';
  display: block;
  clear: both;
  width: 30px;
  height: 3px;
  background: #000;
  position: relative;
}
.burger-open::after {
  top: 14px;
}
.burger-open::before {
  top: 8px;
}
.menu {
  padding: 0;
}
.menu__burger {
  height: 20px;
}
.menu__body {
  border-top: 1px solid black;
  position: absolute;
  top: 100%;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 9999;
  display: none;
}
.menu__body.active {
  display: block;
}
.menu-list {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  background: #f1efef;
}
.menu-list ul {
  display: none;
}
.menu-list a {
  color: #000000;
  padding: 10px;
  text-decoration: none;
}
.menu-list a:hover {
  text-decoration: underline;
}
.content {
  background: #eee;
  padding: 0 10px 10px 10px;
}
.content .form-registration {
  max-width: 500px;
  border: 2px solid #753506;
  padding: 15px 20px;
}
.content .form-registration .form_filling {
  padding-bottom: 10px;
}
.content .form-registration .form_filling:last-child {
  padding-bottom: 0;
}
.content .form-registration .form_filling .checkbox {
  margin-right: 15px;
  display: inline-block;
}
.content .form-registration .form_filling .checkbox:last-child {
  margin-right: 0;
}
.content .form-chat {
  border: 1px solid #753506;
  display: block;
  margin: 10px;
  width: 100%;
}
.content .form-chat .window-chat {
  background: #dbdadb;
  padding: 5px;
  border-bottom: 1px solid black;
}
.content .form-chat .window-chat label {
  display: block;
}
.content .form-chat .messages-chat {
  background: #dbdadb;
  opacity: 0.5;
  overflow: auto;
  height: 300px;
}
.content .form-chat .input_messages-chat {
  border-top: 1px solid black;
}
.content .form-chat .input_messages-chat .btn-img {
  background: url(../photo/sent.png) 50% 50% / cover no-repeat;
  width: 10%;
}
.content .form-chat .input_messages-chat input {
  width: 90%;
}
.content .form-chat .input_messages-chat input,
.content .form-chat .input_messages-chat button {
  float: left;
  display: block;
}
.content .timer-courses {
  border: 1px solid #753506;
  display: table;
  margin: 10px auto;
  min-width: 150px;
}
.content .timer-courses .timer {
  background: #dbdadb;
  padding: 5px;
  border-bottom: 1px solid black;
}
.content .timer-courses .timer div {
  font-size: 30px;
  display: table;
  margin: auto;
}
.content .timer-courses .courses {
  background: #dbdadb;
  opacity: 0.5;
  height: 150px;
  overflow: auto;
}
.content .timer-courses .courses ul li {
  list-style: decimal;
  float: left;
  margin: 0 5px;
}
.content .timer-courses .block_icon {
  background: #dbdadb;
  opacity: 0.8;
  padding: 10px 0;
}
.content .timer-courses .block_icon .center-block {
  display: table;
}
.content .timer-courses .block_icon .center-block .block-icon {
  margin: 0 10px;
  background: white;
}
.content .timer-courses .block_icon .center-block .block-icon .icons1 {
  background: url(../photo/if_flag_296565.png) 50% 50% / cover no-repeat;
}
.content .timer-courses .block_icon .center-block .block-icon .icons2 {
  background: url(../photo/if_flag_296565.png) 50% 50% / cover no-repeat;
}
.content .timer-courses .block_icon .center-block .block-icon .icons3 {
  background: url(../photo/if_flag_296565.png) 50% 50% / cover no-repeat;
}
.content .container-fleid {
  padding: 10px 30px;
  display: table;
  margin: auto;
}
.content .container-fleid .chess_field {
  position: relative;
  width: 100%;
  display: block;
}
.content .container-fleid .chess_field .range_field .field {
  width: 60px;
  height: 60px;
  float: left;
  display: block;
}
.content .container-fleid .chess_field .range_field .field .figure {
  padding: 6px;
}
.content .container-fleid .chess_field .range_field .field .figure .pawn_black {
  background: url(../photo/black_pawn.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .pawn_white {
  background: url(../photo/white_pawn.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .white_king {
  background: url(../photo/white_king.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .black_king {
  background: url(../photo/black_king.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .black_bishop {
  background: url(../photo/black_bishop.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .white_bishop {
  background: url(../photo/white_bishop.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .black_knight {
  background: url(../photo/black_knight.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .white_knight {
  background: url(../photo/white_knight.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .black_queen {
  background: url(../photo/black_queen.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .white_queen {
  background: url(../photo/white_queen.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .black_rook {
  background: url(../photo/black_rook.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .field .figure .white_rook {
  background: url(../photo/white_rook.svg) 0% 0% / contain no-repeat;
  height: 48px;
}
.content .container-fleid .chess_field .range_field .color_white {
  background: #ecdab9;
}
.content .container-fleid .chess_field .range_field .color_black {
  background: #ae8a68;
}
.content .container-fleid .chess_field .range_field ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content .container-fleid .chess_field .range_field ul li {
  float: left;
  width: 60px;
  text-align: center;
  background: #dbdadb;
}
.content .container-fleid .chess_field .ul_numeration {
  position: absolute;
  top: 0;
  left: -18px;
}
.content .container-fleid .chess_field .ul_numeration ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content .container-fleid .chess_field .ul_numeration ul li {
  line-height: 60px;
  background: #dbdadb;
  padding: 0 5px;
}
